@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow Condensed:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-fallback: "Barlow";
  --font-barlow-condensed: "Barlow condensed";
}

#Main {
  @apply p-10;
}

/* body {
  @apply h-full dark:bg-copy-black bg-rose-quartz dark:text-rose-quartz ;
} */

@layer base {
  body {
    @apply h-screen bg-rose-quartz text-copy-black;

    header {
      img {
        filter: invert(88%) sepia(1%) saturate(4899%) hue-rotate(317deg)
          brightness(88%) contrast(90%);
      }
      .btn {
        @apply text-copy-black bg-white;
      }
    }

    h2 {
      @apply text-galaxy-blue;
    }

    &.dark {
      @apply bg-black text-white;

      h2 {
        @apply text-white;
      }

      a {
        @apply text-rose-quartz;
      }
      .card {
        @apply bg-copy-black text-white;
      }

      header {
        @apply bg-galaxy-blue text-white;

        a {
          @apply text-white;
        }

        .router-link-exact-active {
          @apply text-rose-quartz pb-1 border-b-4 border-rose-quartz;
        }

        .btn {
          @apply bg-rose-quartz text-galaxy-blue;
        }
      }

      dialog {
        #form {
          @apply bg-copy-black bg-opacity-100;

          div {
            @apply text-white;
          }
        }

        img {
          filter: invert(100%);
        }

        .btn {
          img {
            filter: invert(0%);
          }
        }
      }

      dialog::backdrop {
        @apply bg-black bg-opacity-50;
        backdrop-filter: blur(5px);
      }

      label {
        @apply text-white;
      }

      input,
      textarea,
      select,
      option {
        @apply text-white bg-opacity-10 focus:ring-white focus:ring-1;
      }

      select {
        @apply text-white;
      }

      .field {
        @apply bg-copy-black text-white;

        &:has(> input:checked) {
          @apply bg-galaxy-blue;
        }

        input:checked + label > span {
          @apply text-white;
        }

        input + label > span {
          @apply text-white text-opacity-50;
        }
      }
    }
  }
}

html,
body,
p,
a {
  font-family: var(--font-fallback);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-barlow-condensed);
}

button[disabled] {
  @apply cursor-not-allowed bg-copy-black bg-opacity-50 text-purbeck-stone text-opacity-50 border border-copy-black border-opacity-20;
}

@layer components {
  .btn {
    @apply bg-galaxy-blue text-white px-4 py-2 rounded-lg text-sm tracking-wider font-bold shadow transition;
  }
  .card {
    @apply p-4 rounded-lg bg-white text-copy-black shadow-md h-full;
  }
}

input[type="radio"] {
  @apply focus:ring-0 h-4 w-4 cursor-pointer text-orange-red;
}
