@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow Condensed:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-fallback: "Barlow";
  --font-barlow-condensed: "Barlow condensed";
}

#Main {
  @apply p-10;
}

/* body {
  @apply h-full dark:bg-copy-black bg-rose-quartz dark:text-rose-quartz ;
} */

@layer base {
  body {
    @apply h-screen bg-rose-quartz text-copy-black;

    header {
      img {
        filter: invert(88%) sepia(1%) saturate(4899%) hue-rotate(317deg)
          brightness(88%) contrast(90%);
      }
      .btn {
        @apply text-copy-black bg-white;
      }
      .router-link-exact-active {
        @apply text-rose-quartz pb-1 border-b-4 border-rose-quartz;
      }
    }

    &.dark {
      @apply bg-galaxy-blue text-rose-quartz;

      header {
        @apply bg-white text-galaxy-blue;

        img {
          filter: invert(7%) sepia(29%) saturate(7220%) hue-rotate(224deg)
            brightness(87%) contrast(112%);
        }

        .btn {
          @apply bg-purple-rain text-white;
        }
        .router-link-exact-active {
          @apply text-classic-blue pb-1 border-b-4 border-classic-blue;
        }
      }
    }
  }
}

html,
body,
p,
a {
  font-family: var(--font-fallback);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-barlow-condensed);
}

button[disabled] {
  @apply cursor-not-allowed bg-copy-black bg-opacity-50 text-purbeck-stone text-opacity-50 border border-copy-black border-opacity-20;
}

@layer components {
  .btn {
    @apply bg-galaxy-blue text-white px-4 py-2 rounded-lg text-sm tracking-wider font-bold shadow transition;
  }
  .card {
    @apply p-4 rounded-lg bg-white text-copy-black shadow-md h-full;
  }
}

input[type="radio"] {
  @apply focus:ring-0 h-4 w-4 cursor-pointer text-orange-red;
}
