@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
:root {
  --font-fallback: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow condensed", sans-serif;
}

#Main {
  @apply p-10;
  @apply h-screen;
  @apply bg-slate-100;
}

html,
body,
p,
a {
  font-family: var(--font-fallback);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-barlow-condensed);
}

@layer components {
  .btn {
    @apply bg-[#000735] text-white px-4 py-2 rounded-lg text-sm tracking-wider font-bold shadow transition;
  }
  .card {
    @apply p-4 rounded-lg bg-white text-gray-700 shadow-md h-full;
  }
}
